.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
Pods
Source/Theo/TheoTests/TheoConfig.json
Tests/TheoTests/TheoConfig.json
.build
Packages
/Theo.xcodeproj/project.xcworkspace/xcshareddata
/Tests/TheoTests/TheoBoltConfig.json
/Tests/TheoTests/TheoRestConfig.json
/build
/Theo.xcodeproj/xcshareddata/xcschemes/Theo-Package.xcscheme
/Package.resolved
/Tests/TheoTests/TheoBoltConfig.json.bak
